<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello</title>
    <link rel="stylesheet" href="../static/css/A_S_P.css" />
  </head>
  <body>
    <div class="video-container">
      <video class="video" autoplay muted>
        <source src="../static/image/Tick-Mark.mp4" type="video/mp4" />
      </video>
      <h4 class="textcong">
        Congratulations! Your Account Created Successfully...
      </h4>
      <!-- <a href="/" class="btn">Go To Dashboard</a> -->
      <button class="op">
        <center>Go to Dashboard</center>
      </button>
    </div>
  </body>
</html>
