<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/contact-us.css">
    <title>Contact Us</title>
</head>
<body>
    <center><div class="container">
        <h2>Team members</h2>
        <div class="employee-grid">
            <div class="employee-card">
                <h3>Deep Shah</h3>
                <p>Enrollment number : 226170307181</p>
                <p>Phone: +91 63529 72571</p>
            </div>
            <div class="employee-card">
                <h3>Vedant Tuvar</h3>
                <p>Enrollment number : 226170307217</p>
                <p>Phone: +91 93136 02304</p>
            </div>
            <div class="employee-card">
                <h3>Mishty Vadera</h3>
                <p>Enrollment number : 226170307218</p>
                <p>Phone: +91 81419 08045</p>
            </div>
            <div class="employee-card">
                <h3>Maahi Shah</h3>
                <p>Enrollment number : 226170307191</p>
                <p>Phone: +91 94082 33580</p>
            </div>
            <!-- Add more employee cards as needed -->
        </div>
    </div></center>
</body>
</html>
